div { 
	display:block; 
}

div.col-sm-4 {
    background-color: white;
    border: 1px solid red;
}

div.col-sm-6 {
    background-color: grey;
    border: 1px solid green;
}

div.col-sm-12 {
    background-color: yellow;
    border: 1px solid green;
}


