div { 
	display:block; 
}



div.col-sm-6 {
    background-color: white;
    border: 3px solid green;
    overflow-x: auto; /* или scroll */
}

div.col-sm-12 {
    background-color: white;
    border: 3px solid blue;
    overflow-x: auto; 
}


